* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html, body{
    height: 100%;
    perspective: 800px;
    width: 100%;
}

*::selection{
    background-color: #fff;
    color:#95C11E
}

body::-webkit-scrollbar{
    display: block;
    width: 10px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb{
    background-color: #95C11E;
    border-radius: 50px;
}


#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: #a2c2491c;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    z-index: 99;
    justify-content: flex-start;
}
#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(23, 22, 22, 0.37);
}

#page1{
    height: 100vh;                            /* view port size or lenght */
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: red; */
    flex-direction: column;
    z-index: 10;
}

#page1 h1{
    font-size: 135px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 600;
    width: 40%;
}

#page1 #arrow{
    height: 250px;
    width: 250px;
    background-color: transparent;
    border: 2px solid #95C11E;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
}

#page1 #arrow:hover{
    scale: 0.4;
    background-color: #95C11E;
}


#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    /* background-color: red; */ 
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    transition: all linear 0.5;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

#scroller h4:hover{
    color: #95C11E;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 40%;
    /* background-color: yellowgreen; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content:space-around;
    position: relative;
    z-index: 10;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 40px;
    font-weight: 600;
}

#about-us-in p{
    font-size: 20px;
    line-height: 26px;
}

#cards-container{
    /* background-color: greenyellow; */
    width: 40%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card{
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 1s;
}

#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    transition: all ease 1s;
}

.overlay h3{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
    color: black;
}

.overlay p{
    color: #000;
    font-size: 18px;
    word-wrap: break-word;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}

#green-div{
    height: 30vh;
    display: flex;
    line-height: 50px;
    align-items: center;
    justify-content: space-between;
    /* background-color:#95C11E; */
    background: linear-gradient(to left bottom, #1FA338,#A3D421);
}

#green-div h4{
    width: 45%;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 40px;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 60px;
}

#page3 #colon1{
    left: 20%;
    top: 20%;
}

#page3 #colon2{
    bottom: 30%;
    right: 15%;
}


#page4{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem{
    height: 70%;
    width: 25%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #000;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    transition: all ease 1s;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
    scale: 1.1;
}

.elem:hover h2{
    color: #fff;
    background-color: transparent;
}

.elem:hover img{
    scale: 1;
}

#page4 h1{
    font-size: 93px;
    position:absolute;
    top: -17%;
    font-weight: 500;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}

/* #page4:hover h1{
    -webkit-text-stroke: 2px #95C11E;
} */

#footer{
    height: 50vh;
    width: 100%;
    background: #ACE022;
    background: linear-gradient(to left bottom, #119F3A 0%, #A3D421 80% );
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
}

#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img{
    height: 100px;
}

#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 99;
}

#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color:#000;
    font-weight: 900;
    margin-bottom: 8px;
}

#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color:#000;
    font-weight: 800;
    margin-bottom: 8px;
}

#f4 h4{
    font-size: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}

